@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');



* {
	
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: 'Open Sans', sans-serif;
}

nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	height: 100px;
	position: fixed;
	z-index: 100;
	background: transparent;
	background-color: seagreen;
	padding: 0rem calc((100vw - 1400px) / 2);
	
}


.logo {
	margin-left: 2rem;
}

.nav-links a {
  text-decoration: none;
  color: white;
  padding: 0rem 1rem;
  transition: color 0.3s ease;
}

.nav-links a:hover,
.nav-links a:focus {
  color: yellow;
}

.hero {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100vh;
  align-items: center;
  color: white;
  background: linear-gradient(-45deg, #ff6ec4, #7873f5, #4ade80, #facc15);
  background-size: 400% 400%;
  animation: gradientBG 15s ease infinite;
  padding: 0rem calc((100vw - 1400px) / 2);
  overflow-x: hidden;
  position: relative;
}

@keyframes gradientBG {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}


.hero h1 {
	padding-bottom: 1rem;
	font-size: clamp(1rem, 14vw, 3rem);
	text-transform: uppercase;
	color: lightblue;
}

.hero p{
	padding-bottom: 3rem;
	font-size: clamp(1rem, 2vw, 3rem);
	line-height: 1.5;
}

.left-column, .right-column {
  animation: fadeInUp 1.5s ease forwards;
  opacity: 0;
}

@keyframes fadeInUp {
  from { transform: translateY(30px); opacity: 0; }
  to { transform: translateY(0); opacity: 1; }
}


button {
  padding: 1.2rem 3.5rem;
  border-radius: 4px;
  border: none;
  font-size: 1.2rem;
  margin-bottom: 3rem;
  color: white;
  background: blue;
  outline: none;
  z-index: 1;
  box-shadow: 0 0 10px rgba(0,0,255,0.6);
  transition: all 0.3s ease;
}

button:hover {
  background-color: white;
  color: black;
  box-shadow: 0 0 20px rgba(0,0,255,0.9);
}


@media screen and (max-width: 768px) {
	.hero {
		grid-template-columns: 1fr;
	}
}

#left {
	float: left;
	width: 210px;
	border: dashed blue
}

#right {
	float: right;
	width: 200px;
	border: dashed blue

}

#center {
	margin-left: 218px; /* 218 works better, why? -----> Idk because it does (Prob math or something)*/
	margin-right: 210px;
	border: solid blue

}

#top {

	margin: 20px;
	padding: 10px;
	text-align: center;
	background: #ccc;
}

#footer {
	background: #ccc;
	margin: 200px;
	text-align: center;
	clear: both;
}


